<div class="votes-count"> Net Votes: <%= net_vote_count(question) %> </div>
<div><b><%= question.title %></b></div>
<div><%= truncate_action_text(question.content, 100) %></div>
<%= render_filelink_if_exists question.attachment %>
<div class="notice"><%= t('draft_question') unless question.published_at? %></div>
<div class="question-topics">
  <%= render partial: 'topics/topic', collection: question.topics %>
</div>
