<div class="votes-count"> Net Votes: <%= net_vote_count(question) %> </div>
<div>Title: <%= question.title %></div>
<div>Content: <%= truncate_action_text(question.content, 100) %></div>
<%= render_filelink_if_exists question.attachment %>
<div class="notice"><%= t('notice.user.question.draft_question') unless question.published_at? %></div>
<div class="question-topics">
  Related Topics:
  <%= render partial: 'topics/topic', collection: question.topics %>
</div>
