<% content_for :head do %>
  <%= javascript_include_tag 'scripts/vote_handler', defer: true %>
<% end %>

<div class="page-heading">Question Page</div>

<div class="question" data-ref="voteable-container">
  <div class="question-header">
    <div>
      <%= render partial: 'shared/vote_buttons', locals: { resource: @question } %>
      <div class="question-field-label">Title: </div>
      <div class="question-field-value"><%= @question.title %></div>
    </div>
    <div>
      <div class="question-field-label">Asked By: </div>
      <div class="question-field-value"><%= @question.user.name %></div>
    </div>
  </div>
  <div class="question-content">
    <div class="question-field-value"><%= @question.content %></div>
  </div>
  <div class="question-topics">
    Related Topics:
    <%= render partial: 'topics/topic', collection: @question.topics %>
  </div>
  <div class="uploaded-file">
    <% if @question.file_attached? %>
      <div>File attached: <%= filename_from_file(@question.attachment) %></div>
      <%= render_filelink_if_exists(@question.attachment) %>
    <% end %>
  </div>

  <% if signed_in? %>
    <%= render 'answers/form' %>
    <%#= render 'comments/form' %>
  <% else %>
    <div class="page-heading"><%= t('login_before_continue')%></div>
  <% end%>
  
  <h3><u>Answers by other Users</u></h3>
  <div class="answers-container">
    <%= render @question.sorted_answers %>
  </div>
</div>
