<div class="page-heading">Questions posted by other users</div>

<div class="question-search-bar">
  <%= search_form_for @q, url: root_path do |form| %>
    <%= form.search_field :title_cont, placeholder: 'Question Title', class: 'search-field' %>
    <%= form.submit 'Search Question by Title' %>
  <% end %>
</div>

<div class="questions-container">
  <% @questions.each do |question| %>
    <div class="question-container">
      <div class="question-container-left">
        <div>Title: <%= question.title %></div>
        <div>Content: <%= truncate_action_text(question.content, 100) %></div>
        <div>Asked By: <%= question.user.name %></div>
      </div>
      <div class="question-container-right">
        <%= link_to 'View Question', question_path(question.permalink) %>
      </div>
    </div>
  <% end %>
</div>
