<% content_for :head do %>
  <%= javascript_include_tag 'scripts/notification_popup_handler', defer: true %>
<% end %>

<div class="page-heading">Questions posted by other users</div>

<div class="question-search-bar">
  <%= search_form_for @q, url: root_path do |form| %>
    <%= form.search_field :title_cont, placeholder: 'Question Title', class: 'search-field' %>
    <%= form.submit 'Search Question by Title' %>
  <% end %>
</div>

<div class="questions-container">
  <div class="questions-container-left">
    <div class="page-heading">Search by Topics</div>
    <%= search_form_for @q, url: root_path do |form| %>
      <%= form.collection_check_boxes :topics_name_eq_any, ordered_topics, :name, :name do |b| %>
        <div><%= b.check_box %> <%=b.label%></div>
      <% end %>
      <br />
      <% if signed_in? %>
        <div>
          <%= form.check_box :user_id_eq_any, { checked: @q.user_id_eq_any.present? }, current_user.followee_ids, nil %>
          <%= form.label :user_id_eq_any, 'Question posted by people I follow'%>
        </div>
      <% end%>
      <%= form.submit %>
    <% end %>
  </div>
  <div class="questions-container-right">
    <%= render partial: 'shared/question', collection: @questions %>
  </div>
</div>
