<% if comment.user.present? %>
  <div class="comment" data-scroll_id="<%= comment.scrollable_id %>">
    <%= render partial: 'shared/vote_buttons', locals: { resource: comment } %>
    <div><b><%= comment.user.name %> </b>Commented: </div>
    <%= comment.content %>

  <% if signed_in? %>
    <% if current_user_resource?(comment, current_user) %>
      <%= form_with url: comment_path(comment), method: :delete, data: { 'turbo-confirm': 'Are you sure?' } do |form| %>
        <%= form.submit "Delete Your Comment", class: 'delete-button' %>
      <% end %>
    <% else %>
      <%= link_to 'Report this Comment', new_abuse_report_path(reportable_id: comment.id, reportable_type: comment.class) %>
    <% end %>
  <% end %>
  </div>
<% end %>
