<div class="form">
  <div class="form-header">Update Profile</div>
  <%= form_with model: current_user, url: user_path do |form| %>
    <div class="img-field">
      <%= image_tag user_profile_image_link(current_user), class: 'profile-img' %>
      <%= form.label :profile_image, 'Upload New Profile Picture' %>
      <%= form.file_field :profile_image, accept: User::VALID_IMAGE_MIME_TYPES.join(', ') %>
    </div>
    <%= render partial: 'shared/form_field_error', locals: { model_object: @user, attribute: :profile_image } %>

    <div class="form-field">
      <%= form.label :name, 'New name' %>
      <%= form.text_field :name %>
    </div>
    <%= render partial: 'shared/form_field_error', locals: { model_object: @user, attribute: :name } %>

    <div class="form-topics">
      <%= render partial: 'topics/form', locals: { form: form, entity: current_user }%>
    </div>

    <div class="submit-field">
      <%= form.submit 'Update Profile' %>
    </div>
  <% end %>
  <%= button_to 'Change Password', password_user_path, method: :get %>
</div>
