<div class="form">
  <div class="form-header">Update Profile</div>
  <%= form_with model: current_user, url: password_user_path, method: :patch do |form| %>
    <div class="form-field">
      <%= form.label :old_password, 'Old Password' %>
      <%= form.password_field :old_password %>
    </div>
    <%= render partial: 'shared/form_field_error', locals: { model_object: current_user, attribute: :old_password } %>

    <div class="form-field">
      <%= form.label :password, 'New Password' %>
      <%= form.password_field :password %>
    </div>
    <%= render partial: 'shared/form_field_error', locals: { model_object: current_user, attribute: :password } %>

    <div class="form-field">
      <%= form.label :password_confirmation, 'New Password Confirmation' %>
      <%= form.password_field :password_confirmation %>
    </div>
    <%= render partial: 'shared/form_field_error', locals: { model_object: current_user, attribute: :password_confirmation } %>

    <div class="submit-field">
      <%= form.submit 'Change Password' %>
    </div>
  <% end %>
</div>
