<div class="form">
  <div class="form-header">Update Profile</div>
  <%= form_with model: current_user, url: password_user_path, method: :patch do |form| %>
    <% if current_user.errors.any? %>
      <div class='form-error'>
        <ul>
          <% current_user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-field">
      <%= form.label :old_password, 'Old Password' %>
      <%= form.password_field :old_password %>
    </div>

    <div class="form-field">
      <%= form.label :password, 'New Password' %>
      <%= form.password_field :password %>
    </div>

    <div class="form-field">
      <%= form.label :password_confirmation, 'New Password Confirmation' %>
      <%= form.password_field :password_confirmation %>
    </div>

    <div class="submit-field">
      <%= form.submit 'Change Password' %>
    </div>
  <% end %>
</div>
