<h1>WELCOME <%= current_user.name %></h1>

<div class="profile">
  <%= image_tag user_profile_image_link(current_user), class: 'profile-img' %>

  <div><%= current_user.name %></div>
  <div><%= current_user.email %></div>
  <div>Your Credits: <%= current_user.credits %></div>
  <%= link_to 'Your credits history', credit_transactions_user_path %>
  <%= link_to 'Buy more credits!', credit_packs_path %>
  <br />
  <div>Your Topic of interests</div>
  <div class="topics-container">
    <%= render partial: 'topics/topic', collection: current_user.topics %>  
  </div>
  <%= button_to 'Edit Profile', edit_user_path, method: :get %>
</div>
