<div class='form'>
  <%= form_with model: @user, url: registration_path do |form| %>
    <h3>Enter details to signup</h3>

    <div class="field">
      <%= form.label :name, 'Name: ' %>
      <%= form.text_field :name %>
    </div>
    <%= render partial: 'shared/form_field_error', locals: { model_object: @user, attribute: :name } %>
    
    <div class="field">
      <%= form.label :email, 'Email: ' %>
      <%= form.email_field :email %>
    </div>
    <%= render partial: 'shared/form_field_error', locals: { model_object: @user, attribute: :email } %>

    <div class="field">
      <%= form.label :password, 'Password: ' %>
      <%= form.password_field :password %>
    </div>
    <%= render partial: 'shared/form_field_error', locals: { model_object: @user, attribute: :password } %>
    
    <div class="field">
      <%= form.label :password_confirmation, 'Confirm Password: ' %>
      <%= form.password_field :password_confirmation %>
    </div>
    <%= render partial: 'shared/form_field_error', locals: { model_object: @user, attribute: :password_confirmation } %>

    <div class="submit-field">
      <%= form.submit 'Signup!' %>
    </div>

    <div class="form-footer">
      Already have an account? 
      <%= link_to 'Login', login_path %>
    </div>
  <% end %>
</div>
