<div class="question-container">
  <div class="question-container-left">
    <div><b><%= question.title %></b></div>
    <div><%= truncate_action_text(question.content, 100) %></div>
    <div><%= link_to question.user.name, user_profile_path(question.user.username) %></div>

    <div class="question-topics">
      <%= render partial: 'topics/topic', collection: question.topics %>
    </div>
  </div>
  <div class="question-container-right">
    <%= link_to 'View Question', question_path(question.permalink) %>
  </div>
</div>
