<div class="answer">
  <%= render partial: 'shared/vote_buttons', locals: { resource: answer } %>
  <div><b><%= answer.user.name %> </b>Says: </div>
  <%= answer.content %>

  <div class="divider"></div>
  <h3>User comments on this answer</h3>
  <%= render answer.comments %>
  <%= render partial: 'comments/form', locals: { resource: answer } %>
</div>
