<div class="answer", data-scroll_id="<%= answer.scrollable_id %>">
  <%= render partial: 'shared/vote_buttons', locals: { resource: answer } %>
  <div><b><%= answer.user.name %> </b>Says: </div>
  <%= answer.content %>

  <% if signed_in? %>
    <% if current_user_resource?(answer, current_user) %>
      <%= form_with url: answer_path(answer), method: :delete do |form| %>
        <%= form.hidden_field :permalink, value: answer.question.permalink %>
        <%= form.submit "Delete Your Answer", class: 'delete-button' %>
      <% end %>
    <% else %>
      <%= link_to 'Report this Answer', new_abuse_report_path(reportable_id: answer.id, reportable_type: answer.class) %>
    <% end %>
  <% end %>

  <div class="divider"></div>
  <h3>User comments on this answer</h3>
  <%= render answer.sorted_comments %>
  <%= render partial: 'comments/form', locals: { commentable: answer, new_comment: answer.sorted_comments.last } %>
</div>
