<div class="form">
  <div>Reset your password here</div>
  <%= form_with model: @user, url: password_path(token: params[:token]), method: :patch do |form| %>
    <%= render partial: 'shared/form_errors', locals: { model_object: @user } %>

    <%= hidden_field_tag :password_reset_token, params[:password_reset_token] %>
    <div class="form-field" >
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="form-field" >
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>

    <div class="submit-field">
      <%= form.submit 'Reset password' %>
    </div>
  <% end %>
</div>
