<!DOCTYPE html>
<html>
  <head>
    <title>QuoraClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="main">
      <div>Quora Clone App</div>
      <% if signed_in? %>
        <div>
          <%= link_to 'Profile', user_path, class: 'white' %>
          <%= button_to 'Logout', session_path, method: :delete, class: 'logout-button' %>
        </div>
      <% end %>
    </header>

    <main class="<%= controller.controller_name %>">
      <div class="notice">
        <%= notice if notice %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
